/CSV/resultado_1.csv
/resultado_1.csv
/CSV/resultado_2.csv
/CSV/resultado_3.csv
/CSV/resultado_4.csv
/CSV/resultado_5.csv
/Prompts/Scrpt01.txt
/Prompts/Scrpt01 - copia.txt
/imagenes_procesadas/tu_imagen - copia.jpeg
/imagenes_procesadas/tu_imagen - copia_1.jpeg
/imagenes_procesadas/tu_imagen - copia_1_20250414_125146.jpeg
/imagenes_procesadas/WhatsApp Image 2025-04-14 at 11.39.35 (1).jpeg
/imagenes_procesadas/WhatsApp Image 2025-04-14 at 11.39.35 (1)_1.jpeg
/imagenes_procesadas/WhatsApp Image 2025-04-14 at 11.39.35 (1)_20250414_125251.jpeg
/imagenes_procesadas/WhatsApp Image 2025-04-14 at 18.40.13_20250415_091944.jpeg
/imagenes_procesadas/WhatsApp Image 2025-04-14 at 18.40.47_20250415_092013_20250415_094704.jpeg
/WhatsApp Image 2025-05-23 at 06.30.43.jpeg
/Platzi/main_platzi.py
